@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: "Consolas", monospace;
  background: url("/src/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  color: white;
  justify-content: space-between;
}



.custom-navbar {
  font-family: "Consolas", monospace;
  background: rgba(9, 9, 9, 0.274);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.custom-navbar .nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.custom-navbar .nav-link:hover {
  color: #cccccc !important;
}

.hero-section {
  display: flex;
  height: 80vh;
  align-items: center;
}

.hero-content h1 {
  font-weight: 200;
  font-size: 5rem;
  margin-bottom: 0;
}

.hero-content h2 {
  font-family: 'Roboto', serif;
  font-weight: 100;  
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 30pt;
}

.hero-buttons button {
  margin-right: 20px;
}

.footer-link{
  color: white !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #cccccc !important;
}

.resume-card {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white for dark backgrounds */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
}

/* Resume Icons */
.resume-icon {
  font-size: 40px;
  color: #f8d210; /* Gold color for visibility */
  display: block;
  margin: 10px auto;
}

/* Download Button */
.resume-download-btn {
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.resume-download-btn:hover {
  background: #f8d210;
  color: black;
}

.project-card {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5) !important;
}

.project-image-wrapper {
  height: 180px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.project-image-wrapper:hover .project-image {
  transform: scale(1.05); 
}